<div class="outermost bg-green-600 flex flex-col justify-between h-[calc(100vh-12vh)]">
    <div class="upper">
        <div class="tags-selector">
            <div class="tag bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold rounded-xl cursor-pointer">Personal</div>
            <div class="tag bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold rounded-xl cursor-pointer">Study</div>
            <div class="tag bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold rounded-xl cursor-pointer">Work</div>
            <div class="tag bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold rounded-xl cursor-pointer">Home</div>
            <div class="tag bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold rounded-xl cursor-pointer">Others</div>
        </div>
        <div class="add-btns flex flex-row justify-between">
            <div class="add-task bg-purple-800 m-2 p-3 text-center text-white font-semibold cursor-pointer">Add a Task</div>
            <div class="add-tag bg-purple-800 m-2 p-3 text-center text-white font-semibold cursor-pointer">Add a Tag</div>
        </div>
    </div>
    <div class="settings">
        <div class="profile bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold cursor-pointer">Profile and settings would move to user in header [remove this]</div>
        <div class="logout bg-purple-800 m-2 p-3 text-center text-lg text-white font-semibold cursor-pointer">Logout??</div>
    </div>
</div>