<div class="outermost">
    <div class="upper grid grid-cols-3 gap-4 p-4">
        <div class="bg-purple-400 flex gap-1 items-center p-3">
            <div class="nmbr text-4xl">09</div>
            <div class="status text-lg">Total Tasks</div>
        </div>
        <div class="bg-purple-400 flex gap-1 items-center p-3">
            <div class="nmbr text-4xl">05</div>
            <div class="status text-lg">Tasks Pending</div>
        </div>
        <div class="bg-purple-400 flex gap-1 items-center p-3">
            <div class="nmbr text-4xl">04</div>
            <div class="status text-lg">Tasks Completed</div>
        </div>
    </div>
    <div class="lower">
        <div class="task">
            
        </div>
    </div>
</div>